{% extends "base_detail.html" %}

{% block search %}
<div class="other_search"></div>
{% endblock %}

{% block content %}
    <div class="main_container">
    <table border="1">
        <tr>
            {% for header in headers[2:] %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
   
        <tr>
            {% set values = user.values()|list %}
            {% for value in values[2:] %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>   
    </table>
    <table>
        월간 매출액
        <tr>
            {% for header in mon_headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
            {% for d in mon_data %}
            <tr>
                
                {% set keys = d.keys()|list %}
                {% for key in keys %}
                    <td>{{ d[key] }}</td>
                {% endfor %}
                
            </tr> 
            {% endfor %}  
    </table>
    </div>
{% endblock %}