{% extends "base_detail.html" %}

{% block search %}
<div class="other_search"></div>
{% endblock %}

{% block content %}
<div class="main_container">
    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
   
        <tr>

            <td>{{ data.id }}</td>
            <td><a href="/order_detail/{{ data.order_id }}">{{ data.order_id }}</a></td>
            <td><a href="/item_detail/{{ data.item_id }}">{{ data.item_id }}</a></td>
            <td>{{ data.name }}</td>
        </tr>   
    </table>
    </div>

{% endblock %}