{% extends "base_detail.html" %}

{% block search %}
<div class="other_search"></div>
{% endblock %}

{% block content %}
<div class="main_container">
    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
   
        <tr>
            {% set values = data.values()|list %}
            {% for value in values %}
                <td>{{ value }}</td>
            {% endfor %}
        </tr>   
    </table>
    </div>

{% endblock %}