{% extends "base.html" %}

{% block content %}
<div class="main_container">
    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for data in page_data %}
        <tr onclick="window.location='/user_detail/{{ data.id }}'">
            {% set keys = data.keys()|list %}
            <td><a href="/user_detail/{{ data.id }}">{{ data.id }}</a></td>
            {% for key in keys[1:] %}
                <td>{{ data[key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %} 
    </table>
    </div>
{% endblock %}

{% block graph %}
<div class="wrapper graph">
    <h1>연령대별 고객 수</h1>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div>
        <canvas id="revenue_Chart"></canvas>
    </div>
    <script> 
    const ctx = document.getElementById('revenue_Chart');
    Pie_Chart()

        function Pie_Chart() {
            new Chart(ctx, {
                type: 'pie',
                data: {
                labels: {{ labels | tojson }} ,
                datasets: [
                    {
                    label: '고객 수',
                    data: {{ values | tojson }} ,
                backgroundColor: [
                    'rgb(29, 91, 121)',
                    'rgb(70, 139, 151)',
                    'rgb(239, 98, 98)',
                    'rgb(243, 170, 96)',
                    'rgb(74, 85, 162)',
                    'rgb(255, 102, 102)'
                    ],
                    hoverOffset: 50,
                }]
                }
            });
        }
    </script>
</div>
{% endblock %}

