{% extends "base.html" %}

{% block content %}
<div class="main_container">
    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for data in page_data %}
        <tr onclick="window.location='/user_detail/{{ data.id }}'">
            {% set keys = data.keys()|list %}
            <td><a href="/user_detail/{{ data.id }}">{{ data.id }}</a></td>
            {% for key in keys[1:] %}
                <td>{{ data[key] }}</td>
            {% endfor %}
        </tr>
        {% endfor %} 
    </table>
    </div>
{% endblock %}

{% block graph %}
<div class="wrapper graph">
    <h1>연령대별 고객 수</h1>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div>
        <canvas id="revenue_Chart"></canvas>
    </div>
    <script> 
    const labels = {{ labels | tojson }}; 
    const data = {{ values | tojson }};        
    </script>
</div>
{% endblock %}

