{% extends "base.html" %}

{% block content %}
<div class="main_container">
    <table border="1">
        <tr>
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>   
        {% for data in page_data %}
        <tr onclick="window.location='/store_detail/{{ data.id }}'">
            {% set keys = data.keys()|list %}
            <td><a href="/store_detail/{{ data.id }}">{{ data.id }}</a></td>
            {% for key in keys[1:] %}
                <td>{{ data[key] }}</td>
            {% endfor %}
        </tr>
    {% endfor %} 
    </table>
</div>
{% endblock %}

